conda create -n noisy python=3.7
conda activate noisy
pip install torch==1.10.1+cu111 torchvision==0.11.2+cu111 torchaudio==0.10.1 -f https://download.pytorch.org/whl/cu111/torch_stable.html
pip install scikit-learn
pip install tensorboard
pip install tensorboardX
pip install nibabel
pip install -U albumentations